body {
    font-family: "Noto Sans TC", "微軟正黑體";
    margin: 0;
}
.nav > li > a {
    margin: 10px 0px;
    padding: 0px 15px;
}
.col-lg-12 {
    padding: 0;
}
.container {
    padding: 0;
}
.h1 {
    font-size: 36px;
    line-height: 54px;
    color: white;
}
.h1-m {
    font-size: 28px;
    line-height: 41px;
    color: white;   
}
.h6 {
    font-size: 18px;
    line-height: 27px;
    color: white;
    margin: 0;
}
.row {
    margin: 0;
}
.Black {
    font-weight: 700;
}
.Bold {
    font-weight: 700;
}
.Regular {
    font-weight: 400;
}
.Medium {
    font-weight: 500;
}
.content-section-a, .content-section-b {
    padding: 32px 0 32px 0;
    background-color: white;
    border:0;
}
/*
思源黑體weight
Medium => 500
Regular => 400
Bold => 700
Black => 900
*/
/*Mobile版 START*/
.container > .navbar-header {
    margin: 0;
}
.item>a{
    display: block;
    height: 100%;
}
#top-m {
    margin-left: 23px;
    width: 93px;
}
#top-t {
    margin-left: 20px;
    width: 142px;
    display: none;
}
#top-d {
    margin-left: 40px;
    width: 346px;
    display: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2E318B;
}
.navbar {
    margin-bottom:0;
    height: 64px;
}
.navbar-header {
    height: 64px;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}
.navbar-toggle .icon-bar {
    width: 38px;
    height: 7px;
    border-radius: 5px;
}
.navbar {
    min-height: 64px;
}
.navbar-collapse {
    background-color: white;
    z-index: 2;
    position: relative;
    border: 0;
    margin-top: -10px;
}
.navbar-toggle {
    margin-top: 8px;
}
.navbar-default {
    background-color: white;
}
#mycarousel {
    display: none;
}
.carousel-indicators > li {
    cursor: pointer;
}
#first_div, .zl-gradient-fills {
    background-image: linear-gradient(10deg, #4CC7B5 0%, #276AC6 100%);
    /*background-image: url('<?=site_url("")?>assets/images/bg.png');*/
    background-position: center;
    background-size: cover;
}
.div_left {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
}
.first {
    margin-top: 4px;
    width: 65%;
}
.right_pic {
    margin: 0 auto;
    text-align: center;
    /*width: 74%;*/
}
.right_pic > img {
    width: 128px;
    margin: 0px 4px 8px 4px;
}
.h-title-c {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 24px;
}
.h-title-7 {
    margin: 0 auto;
    text-align: center;
}
.h-2 {
    width: 275px;
    margin: 0 auto;
}
.h-2 > img {
    width: 100%;
}
.h-3 {
    /*width: 70%;*/
    margin: 0 auto;
    text-align: center;
    margin: 0px 20px 0px 20px;
}
.h-4 {
    text-align: center;
}
.h-7 {
    text-align: center;    
}
#freedemo {
    border: 3px solid white;
    border-radius: 100px;
    width: 296px;
    height: 72px;
    line-height: 29px;
    font-size: 20px;
    background-color: transparent;
    color: white;
    margin-top: 16px;
}
#freedemo:hover {
    background-color: white;
    color: #367CD7;
}
.demo {
    background-image: url('./show.jpg');
}
#special_main {
    margin: 0 auto;
    text-align: center;
}
#special {
    margin-bottom: 7.5px;
}
#special > img {
    /*width: 96px;*/
    width: 30%;
}
#special > img:not(.last-child){
    /*margin-right: 10px;*/
    margin-right: 3%;
}
.white_title {
    color: #2F2F2F;
    line-height: 41px;
    font-size: 28px;
}
#special_content {
    line-height: 27px;
    color: #4C4C4C;
    font-size: 18px;
    width: 70%;
    margin: 0 auto;
}
#web_icon {
    text-align: center;
}
#web_icon > div > div > img {
    width: 46px;
}
#web_icon > div > div > label {
    color: white;
    font-size: 22px;
    line-height: 33px;
}
#news {
    text-align: center;
}
#news > .white_title {
    margin-bottom: 20px;
}
.one_news {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 12px;
    padding-bottom: 10px;
}
.news_img {
    width: 100%;
}
.news_article {
    text-align: left;
}
.news_article > .news_title {
    font-size: 24px;
    line-height: 36px;
    color: #333333;
}
.say_bg {
    background-color: rgba(255,255,255,0.2);
    width: 100%;
    border-radius: 24px;
    /*margin: 16px 12px 0px 12px;*/
    margin-top: 16px;
    text-align: center;
    color: white;
    padding-left: 17px;
    padding-bottom: 24px;
    padding-right: 16.1px;
    float: left;
}
.say_bg > .say_pic > img {
    width: 200px;
    max-height: 200px;
    margin-top: 24px;
    /*border-radius: 100px;*/
    margin-bottom: 16px;
}
.say_c {
    margin-bottom: 16px;
}
.say_content {
    text-align: left;
}
#getmsg {
    text-align: center;
}
#getmsg > .white_title {
    text-align: center;
    margin-bottom: 13px;
}
#getmsg > div > div > .rows {
    margin-bottom: 10px;
    margin-left: 10px;
    text-align: left;
    display: flex;

}
#getmsg > div > div > .rows > .field {
    color: #084989;
    font-size: 16px;
    line-height: 24px;
    margin-right: 5px;
    float: left;
    width: 5em;
    /*flex: 0;*/
}
#getmsg > div > div > .rows > .input {
    flex: 1;
}
#getmsg > div > div > .rows > .input > input {
    line-height: 27px;
    font-size: 18px;
    color: #BBBBBB;
    border:0;
    border-radius: 0px;
    border-bottom: 1px solid #BBBBBB;
    width: 95%;
}
#getmsg > div > div > .rows > .input > label {
    margin-right: 8px;
}
#getmsg > div > div > .rows > .input > label > input {
    margin-right: 3px;
    width: 15px;
    height: 15px;
}
#getmsgbtn {
    width: 296px;
    height: 72px;
    border-radius: 100px;
    background-color: white;
    margin-top: 24px;
    color: #367CD7;
    font-size: 20px;
    line-height: 29px;
    border: 3px solid #3BC4B8;
}
#getmsgbtn:hover {
    background-image: linear-gradient(10deg, #4CC7B5 0%, #276AC6 100%);
    border: none;
    color: white;
}
.soft {
    background-color: #06387D;
    padding: 0;
}
#contact_info {
    color: white;
}
#contact_info > div > .white_title {
    text-align: left;
    color: white;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 3.6px;
    width: 100%;
    float: left;
}
#contact_info > div {
    margin-left: 12px;
}
#contact_info > div > div > .rows > .field {
    font-size: 13px;
    line-height: 32px;
    color: #CCCCCC;
    width: 5.5em;
    margin-right: 29px;
    display: inline-block;
}
#contact_info > div > #download, #contact_info > #company {
    letter-spacing: 0;
}
#contact_info > div > #maintain > .rows > .field {
    font-size: 13px;
    line-height: 32px;
    color: #CCCCCC;
    width: 4em;
    margin-right: 24px;
    display: inline-block;
    vertical-align: top;
}
#contact_info > div > div > .rows > .input {
    display: inline-block;
    font-size: 16px;
    line-height: 32px;
}
#contact_info > div #info_name {
    font-size: 16px;
    line-height: 14.4px;
    letter-spacing: 3.56px;
}
#contact_info #info_ename {
    font-size: 9.6px;
    line-height: 14px;
}
#fb_title {
    font-size: 16px;
    line-height: 32px;
}
footer {
    padding: 0px;
    background-color: transparent;
}
#soft-down {
    margin:12px 0px 12px 12px;
    float:left;
}
#company {
    margin: 12px 0px 0px 12px;
    float: left;
    width: 90%;
}
#contact_logo {
    width:290px;
}
#copyright {
    font-size: 12px;
    line-height: 18px;
    color: white;
    margin-bottom: 12px;
}
.cor {
    /*display: none;
    z-index: 20;
    position: absolute;*/
}
/*about*/
#about {
    font-size: 18px;
    line-height: 27px;
    margin: 12px 12px 0px 12px;
    color: white;
}
#aboutus {
    width: 320px;
    height: 240px;
    margin: 0 auto;
}
#aboutus > img {
    width: 100%;
}
.about {
    padding: 24px 0px 16px 0px;
}
.about .white_title {
    text-align: center;
}
.cm_bg, .cm_bgs {
    margin: 12px 12px 0px 12px;
    background-color: rgba(0,0,0,0.1);
    border-radius: 24px;
    padding: 24px 17px;
    text-align: center;
}
.cm_pic {
    width: 128px;
    height: 128px;
    margin: 0 auto;
}
.cm_pic > img {
    width: 100%;
    max-height: 100%;
    /*border-radius: 100px;*/
}
.cm_bg .h1-m, .cm_bgs .h1-m, #slog {
    margin-top: 8px;
    color: #4C4C4C;
}
.cm_main > div {
    color: #4C4C4C;
}
#map {
    padding: 0;
}
#company_address {
    height: 320px;
}
/*
product
*/
.product {
    padding: 24px 0px 16px 0px;
}
.main_prod {
    text-align: center;
    margin-bottom: 21px;
}
.main_prod > div > .h-title-c.h1-m {
    line-height: 36px;
}
.main_prod > div > .h-title-c {
    margin: 8px 0px;
}
.main_prod > div > .prod_pic {
    width: 288px;
    height: 288px;
    margin: 0 auto;
}
.main_prod > div > .prod_pic > a > img {
    width: 100%;
    height: 100%;
    /*border-radius: 32px;*/
    /*border: 2px solid #FFFFFF;*/
}
#other_prod {
    margin: 21px auto;
    width: 264px;
}
#other_prod > .prodo {
    width: 128px;
    height: 128px;
    margin-bottom: 8px;
    float: left;
}
#other_prod > .prodo > a >img {
    width: 100%;
    height: 100%;
}
#other_prod > .prodo > a > img:hover {
    border: 2px solid #DDD;
    border-radius: 35px;
}
#other_prod > .pleft {
    margin-right: 4px;
}
#other_prod > .pright {
    margin-left: 4px;
}
.product .white_title {
    text-align: center;
    margin-bottom: 24px;
}
#prod_process {
    padding-bottom: 24px;
}
.product .process {
    width: 296px;
    margin: 0 auto;
    border-collapse: separate;
}
.product .process > thead > tr > td,
.product .process > tbody > tr > td {
    height: 40px;
    text-align: center;
    border: 2px solid #595959;
}
.product .process > thead > tr > td {
    background-color: #595959;
    border-radius: 8px 8px 0 0;
}
.product .process > tbody > tr > td {
    border-radius: 0 0 8px 8px ;
    color: #4C4C4C;
}
.trinangle {
    border-color: #595959 transparent transparent transparent;
    border-style: solid solid solid solid;
    border-width: 16px 12px;
    margin-bottom: -3px;
    width: 0;
    margin: 11px auto -3px auto;
}
/*manger*/
.edition {
    padding: 16px 12px;
}
#main_edit {
    padding: 40px 23px;
    text-align: center;
}
#main_edit .h1 {
    margin: 0px;
    margin-bottom: 4px;
}
#main_edit .sub {
    margin-bottom: 13px;
}
#manger_info {
    text-align: left;
}
.manger_special {
    margin-bottom: 21px;
    text-align: center;
}
.manger_special > .manger_main > .manger_cont {
    color: #4C4C4C;
    margin-bottom: 5px;
}
.manger_special > .manger_img {
    width: 80px;
    height: 80px;
    margin-bottom: 8px;
    text-align: left;
    background-image: url('<?=site_url("")?>assets/images/bg.png');
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    padding: 8px;
    margin: 0 auto;
}
.manger_special > .manger_img > img {
    width: 100%;
    height: 100%;
}
/*feature*/
.feature {
    padding: 12px;
    position: relative;
    z-index: 2;
}
#watermark.feature {
    padding-bottom: 0px;
    padding-right: 12px;
}
#feature_range {
    height: 100%;
    padding-bottom: 12px;
}
#feature_title {
    text-align: left;
    margin: 20px 12px 12px 4px;
    position: relative;
    float: left;
    z-index: 2;
}
#feature_info {
    margin: 8px auto 8px 0px;
    position: relative;
    display: inline-block;
    z-index: 2;
}
.navbar-collapse {
    z-index: 3;
}
.feature_special > .feature_main > .feature_cont {
    color: #4C4C4C;
    margin-bottom: 12px;
}
.feature_special > .feature_img {
    height: 220px;
    margin-bottom: 12px;
    /*background: #EBEBEB;*/
    margin: 0 auto;
    text-align: center;
}
.feature_special > .feature_img > img {
    max-width: 100%;
    max-height: 100%;
}
#feature_mark {
    /*background-image: url('<?=site_url()?>/assets/images/feature/gold.png');*/
    position: absolute;
    width: 100%;
    height: 100%;
    /*background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;*/
    bottom: 0;
}
#feature_mark > img {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    position: absolute;
}
#service_title {
    text-align: left;
    margin-top: 105px;
    margin-bottom: 105px;
}
/*case*/
.succ_case {
    padding: 32px 60px;
}
.cooperation {
    margin: 0 auto;
    margin-bottom: 21px;
    width: 200px;
    text-align: center;
    color: white;
    /*display: inline-block;*/
}
.cooperation > .circle {
    width: 100%;
    height: 200px;
    border: 4px solid white;
    border-radius: 100px;
    float: left;
    position: relative;
}
.cooperation > .circle > .number {
    font-size: 48px;
    color: white;
    position: absolute;
    margin-top: 62px;
    width: 200px;
    margin-left: -4px;
}
.cooperation > .circle > .unit {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 17px;
}
.cooperation > .title {
    margin: 16px 0 8px 0;
    float: left;
    width: 100%;
}
#cusmap {
    width: 100%;
    display: none;
}
#cusmap > img {
    width: 100%;
}
#cram_say .h1-m, #cram_say .h-7, #cram_say .say_c, #cram_say .say_content {
    color: black;
}
.cram_say {
    width: 100%;
    float: left;
    padding: 0px 12px;
}
#cram_say .say_bg {
    background-color: rgba(0,0,0,0.2);
}
#cram_search {
    float: left;
}
#cram_search {
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
    width: 100%;
    float: left;
    padding-left: 12px;
    padding-right: 12px;
}
#cram_search > .h1-m {
    margin-bottom: 22px;
}
#cram_search > .condition {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 13px;
}
#cram_search > .condition > select {
    width: 100%;
    margin-bottom: 13px;
}
#cram_search .h6 {
    color:  #4C4C4C;
}
#search_rs {
    width: 100%;
    margin-top: 14px;
}
/*#second_cond {
    margin-top:13px;
}*/
#search_rs > tbody > tr > td {
    padding-top: 6px;
    padding-bottom: 6px;
}
#search_rs > thead > tr > td {
    width: 50%;
}
@media screen and (min-width: 375px) {
    .right_pic {
        width: 75%;
    }
    .first {
        width: 100%;
        /*width: 60%;*/
    }
}
/*Mobile版 END*/